<% include partials/header %>

<header class="jumbotron bg-jumbo">
    <div class="container cards">
        <h1>Welcome To Debt Tracking App</h1>
        <p>View current credit card and balance</p>
        <p>
            <a class="btn btn-lg btn-primary" href="cards/add">Add new card</a>
        </p>
    </div>
</header>
<div class="container">
    <% let total= 0; %>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% cards.forEach((card) => { %>
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="img-thumbnail">
                        <% if (card.card === 'Discover') { %>
                            <img src="img/discover.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'American Express') { %>
                           <img src="img/american_express.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'Golden1') { %>
                            <img src="img/golden1.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'Citi Preferred') { %>
                            <img src="img/citi_preferred.png" class="img-fluid" alt="Responsive image">
                        <% } %> 

                        <% if (card.card === 'Citi Simplicity') { %>
                            <img src="img/citi_simplicity.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'Citi Costco') { %>
                            <img src="img/citi_costco.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'Chase Freedom') { %>
                            <img src="img/chase_freedom.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% if (card.card === 'Chase Southwest') { %>
                            <img src="img/chase_southwest.png" class="img-fluid" alt="Responsive image">
                        <% } %> 
 
                        <% if (card.card === 'BOA Cash Rewards') { %>
                            <img src="img/boa_cash.png" class="img-fluid" alt="Responsive image">
                        <% } %> 

                        <% if (card.card === 'BOA Balance Rewards') { %>
                            <img src="img/boa_balance.png" class="img-fluid" alt="Responsive image">
                        <% } %>

                        <% total += card.balance %>
                        
                        <div class="caption">
                            <h4><%= card.card %></h4>
                            <p>Balance: <%= (card.balance).toFixed(2) %></p>
                            <p>Interest Rate: <%= (card.interest).toFixed(2) %></p>
                        </div>

                        <a class="btn btn-info" href="/cards/<%= card.id %>">View Info</a>
                        <form method="POST" action="/cards/<%= card.id %>?_method=DELETE">
                            <button class="btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-primary" href="/cards/<%= card.id %>/edit">Edit</a>
                    </div>
                </div>
            <% }); %>  
           
        </div>
    <p>Total Debt: <%= total %></p>
    </div>

<% include partials/footer %>