<% include partials/header %>

<div class="container">
        <div class="card text-center mx-auto card-details" style="width: 50%">
            <div class="card-header head-details">
                <h3>Edit <%= card.card %></h3>
            </div>
    
            <div class="card-body body-details">
                    <form action="/cards/<%= card.id %>?_method=PATCH"  method="POST">
                        <input type="text" class="form-control mb-3" name="card" value="<%= card.card %>">
                        <input type="number" class="form-control mb-3" step="0.01" name="balance" value="<%= card.balance %>">
                        <input type="number" class="form-control mb-3" step="0.01" name="interest" value="<%= card.interest %>">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </form>
                </div>
        </div>
</div>
    

<% include partials/footer %>